/* line 1, ../sass/index.scss */
body {
  background-color: #7f0000;
}
/* line 3, ../sass/index.scss */
body footer {
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background: white;
}
/* line 7, ../sass/index.scss */
body footer #social #s4 {
  background: url("../img/g.png");
}
/* line 12, ../sass/index.scss */
body footer #social #s3 {
  background: url("../img/y.png");
}
/* line 17, ../sass/index.scss */
body footer #social #s2 {
  background: url("../img/t.png");
}
/* line 22, ../sass/index.scss */
body footer #social #s1 {
  background: url("../img/f.png");
}
/* line 27, ../sass/index.scss */
body footer #social .s:hover {
  filter: invert(50%);
}
/* line 32, ../sass/index.scss */
body footer #social .s {
  transition: 0.15s;
  margin: 4px;
  display: inline-block;
  height: 50px;
  width: 50px;
}
/* line 42, ../sass/index.scss */
body footer div {
  color: red;
  font-family: acephimere;
  font-size: 10px;
  padding: 6px;
  margin: 2px auto;
}
/* line 61, ../sass/index.scss */
body div {
  margin: 5px auto;
  text-align: center;
  text-align: center;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 235px auto 150px auto;
  height: auto;
  width: 90%;
}
/* line 63, ../sass/index.scss */
body div .costosYear {
  display: inline-block;
}
/* line 65, ../sass/index.scss */
body div .costosYear .costosEmpresa:hover {
  background-color: darkmagenta;
}
/* line 70, ../sass/index.scss */
body div .costosYear .costosEmpresa {
  cursor: pointer;
  transition: 0.2s;
  vertical-align: middle;
  margin: 3px;
  display: inline-block;
  width: 200px;
  height: 115px;
  background-color: blue;
}
/* line 72, ../sass/index.scss */
body div .costosYear .costosEmpresa .p3 {
  font-size: 12px;
}
/* line 77, ../sass/index.scss */
body div .costosYear .costosEmpresa .p2 {
  font-family: acephimereThin;
  font-size: 20px;
}
/* line 83, ../sass/index.scss */
body div .costosYear .costosEmpresa .p1 {
  font-size: 40px;
}
/* line 88, ../sass/index.scss */
body div .costosYear .costosEmpresa p {
  font-family: acephimere;
}
/* line 103, ../sass/index.scss */
body div .costosYear .p2 {
  font-size: 20px;
}
/* line 108, ../sass/index.scss */
body div .costosYear .p1 {
  font-size: 60px;
}
/* line 113, ../sass/index.scss */
body div .costosYear p {
  font-family: acephimereThinItalic;
}
/* line 124, ../sass/index.scss */
body div div {
  margin: 10px auto;
  padding: 0px;
  border-radius: 0px;
}
/* line 126, ../sass/index.scss */
body div div #maps2 {
  margin: 15px auto;
  width: 60%;
  height: 500px;
}
/* line 133, ../sass/index.scss */
body div div #maps {
  display: none;
  margin: 0px auto;
  width: 100%;
  height: 500px;
}
/* line 141, ../sass/index.scss */
body div div #listResults {
  display: none;
  margin: 20px auto;
  vertical-align: middle;
  overflow-y: scroll;
  flex-direction: row;
  padding: 3px;
  height: auto;
  width: 90%;
}
/* line 143, ../sass/index.scss */
body div div #listResults .result {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0px;
  color: red;
  background: white;
  margin: 1px;
  display: flex;
  width: 300px;
  height: auto;
}
/* line 145, ../sass/index.scss */
body div div #listResults .result .text {
  color: black;
  background: white;
  font-family: acephimere;
  text-align: justify;
  margin: 6px;
  height: auto;
  width: 200px;
}
/* line 147, ../sass/index.scss */
body div div #listResults .result .text .pf1 {
  color: darkred;
  font-size: 17px;
}
/* line 153, ../sass/index.scss */
body div div #listResults .result .text .pf2 {
  font-size: 12px;
}
/* line 158, ../sass/index.scss */
body div div #listResults .result .text .pf3 {
  font-size: 10px;
}
/* line 163, ../sass/index.scss */
body div div #listResults .result .text .pf4 {
  font-size: 10px;
}
/* line 168, ../sass/index.scss */
body div div #listResults .result .text .pf5 {
  font-size: 7px;
}
/* line 173, ../sass/index.scss */
body div div #listResults .result .text .deleteResult:hover {
  border: 1px solid red;
  color: red;
  background: white;
}
/* line 180, ../sass/index.scss */
body div div #listResults .result .text .deleteResult {
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
  color: white;
  background-color: red;
  padding: 10px;
  margin: 2px;
}
/* line 191, ../sass/index.scss */
body div div #listResults .result .text .moreResult:hover {
  border: 1px solid green;
  color: green;
  background: white;
}
/* line 198, ../sass/index.scss */
body div div #listResults .result .text .moreResult {
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
  color: white;
  background-color: green;
  padding: 10px;
  margin: 2px;
}
/* line 209, ../sass/index.scss */
body div div #listResults .result .text .c {
  background-color: orangered;
  font-size: 12px;
}
/* line 215, ../sass/index.scss */
body div div #listResults .result .text p {
  margin: 2px;
}
/* line 229, ../sass/index.scss */
body div div #listResults .result .avatar {
  margin: 10px;
  border-radius: 0px;
  height: 70px;
  width: 70px;
}
/* line 237, ../sass/index.scss */
body div div #listResults .result div {
  display: block;
}
/* line 268, ../sass/index.scss */
body div .categories {
  text-align: center;
  margin: 10px auto 10px auto;
}
/* line 270, ../sass/index.scss */
body div .categories #c17 {
  background: url("../img/menu/17N.png");
}
/* line 275, ../sass/index.scss */
body div .categories #c16 {
  background: url("../img/menu/16N.png");
}
/* line 280, ../sass/index.scss */
body div .categories #c15 {
  background: url("../img/menu/15N.png");
}
/* line 285, ../sass/index.scss */
body div .categories #c14 {
  background: url("../img/menu/14N.png");
}
/* line 290, ../sass/index.scss */
body div .categories #c13 {
  background: url("../img/menu/13N.png");
}
/* line 295, ../sass/index.scss */
body div .categories #c12 {
  background: url("../img/menu/12N.png");
}
/* line 300, ../sass/index.scss */
body div .categories #c11 {
  background: url("../img/menu/11N.png");
}
/* line 305, ../sass/index.scss */
body div .categories #c10 {
  background: url("../img/menu/10N.png");
}
/* line 310, ../sass/index.scss */
body div .categories #c9 {
  background: url("../img/menu/9N.png");
}
/* line 315, ../sass/index.scss */
body div .categories #c8 {
  background: url("../img/menu/8N.png");
}
/* line 320, ../sass/index.scss */
body div .categories #c7 {
  background: url("../img/menu/7N.png");
}
/* line 325, ../sass/index.scss */
body div .categories #c6 {
  background: url("../img/menu/6N.png");
}
/* line 330, ../sass/index.scss */
body div .categories #c5 {
  background: url("../img/menu/5N.png");
}
/* line 335, ../sass/index.scss */
body div .categories #c4 {
  background: url("../img/menu/4N.png");
}
/* line 340, ../sass/index.scss */
body div .categories #c3 {
  background: url("../img/menu/3N.png");
}
/* line 345, ../sass/index.scss */
body div .categories #c2 {
  background: url("../img/menu/2N.png");
}
/* line 350, ../sass/index.scss */
body div .categories #c1 {
  background: url("../img/menu/1N.png");
}
/* line 355, ../sass/index.scss */
body div .categories .category:hover {
  filter: invert(100%);
}
/* line 360, ../sass/index.scss */
body div .categories .category {
  transition: 0.25s;
  border-radius: 0px;
  height: 90px;
  width: 90px;
  display: inline-block;
  margin: 4px;
  color: white;
}
/* line 375, ../sass/index.scss */
body div #bannerState {
  display: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: acephimere;
  padding: 10px;
  width: 200px;
  height: 15px;
}
/* line 386, ../sass/index.scss */
body div .search:hover {
  filter: invert(100%);
}
/* line 391, ../sass/index.scss */
body div .search {
  vertical-align: middle;
  transition: 0.15s;
  background: url("../img/lupa.png");
  outline: 0px;
  border: 0px;
  height: 50px;
  width: 50px;
}
/* line 402, ../sass/index.scss */
body div .searchBox:focus {
  border: 2px solid red;
}
/* line 407, ../sass/index.scss */
body div .searchBox {
  vertical-align: middle;
  transition: 0.15s;
  outline: 0px;
  border: 2px solid black;
  color: red;
  font-family: acephimere;
  font-size: 14px;
  padding: 10px;
  height: 15px;
  width: 70%;
}
/* line 421, ../sass/index.scss */
body div div {
  margin: 40px auto 6px auto;
}
/* line 423, ../sass/index.scss */
body div div div {
  margin: 10px auto;
}
/* line 425, ../sass/index.scss */
body div div div .register:hover {
  border: 2px solid orangered;
  background-color: white;
  color: orangered;
}
/* line 432, ../sass/index.scss */
body div div div .register {
  background-color: orangered;
}
/* line 437, ../sass/index.scss */
body div div div #send:hover {
  border: 2px solid darkgreen;
  background-color: white;
  color: darkgreen;
}
/* line 444, ../sass/index.scss */
body div div div #send {
  background-color: darkgreen;
}
/* line 449, ../sass/index.scss */
body div div div #preview {
  overflow: hidden;
  height: 70px;
  width: 70px;
}
/* line 456, ../sass/index.scss */
body div div div .fileBrowser {
  outline: 0px;
  color: white;
  border: 2px solid brown;
  font-size: 12px;
  font-family: acephimere;
  margin: 5px auto;
  height: 20px;
  width: 70%;
}
/* line 468, ../sass/index.scss */
body div div div button {
  outline: 0px;
  transition: 0.2s;
  border: 2px solid transparent;
  color: white;
  font-size: 12px;
  font-family: acephimere;
  margin: 5px;
  height: 40px;
}
/* line 483, ../sass/index.scss */
body div div #infoPhone {
  border: 1px solid gray;
}
/* line 488, ../sass/index.scss */
body div div input:focus {
  height: 20px;
  border: 2px solid orangered;
}
/* line 494, ../sass/index.scss */
body div div input {
  transition: 0.15s;
  outline: 0px;
  border: 2px solid black;
  color: orangered;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
  height: 10px;
  width: 35%;
  margin: 5px;
}
/* line 508, ../sass/index.scss */
body div div p {
  font-size: 13px;
  font-family: acephimere;
  margin: 6px;
}
/* line 518, ../sass/index.scss */
body div .categorySearch {
  margin: 5px;
  font-size: 14px;
  font-family: acephimere;
}
/* line 525, ../sass/index.scss */
body div .searchTag {
  font-size: 40px;
  font-family: acephimereThinItalic;
}
/* line 531, ../sass/index.scss */
body div p {
  margin: auto;
}
/* line 546, ../sass/index.scss */
body header {
  background-color: darkgray;
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
}
/* line 548, ../sass/index.scss */
body header div {
  margin: 5px auto;
  background: gray;
}
/* line 550, ../sass/index.scss */
body header div .close:hover {
  color: black;
  background: white;
}
/* line 556, ../sass/index.scss */
body header div .close {
  transition: 0.2s;
  outline: 0px;
  border: 0px;
  color: white;
  background: black;
  font-size: 10px;
  font-family: acephimere;
  margin: 7px;
  padding: 10px;
}
/* line 569, ../sass/index.scss */
body header div #infoUsername {
  font-size: 12px;
}
/* line 574, ../sass/index.scss */
body header div #infoName {
  font-size: 16px;
}
/* line 579, ../sass/index.scss */
body header div p {
  display: flex;
  font-family: acephimere;
}
/* line 589, ../sass/index.scss */
body header .headerLogo {
  background: url("../img/logo.png");
  margin: 10px auto 10px auto;
  text-align: center;
  height: 60px;
  width: 130px;
}

@font-face {
  font-family: acephimere;
  src: url("../fonts/acephimere.otf");
}
@font-face {
  font-family: acephimereThin;
  src: url("../fonts/acephimereThin.otf");
}
@font-face {
  font-family: acephimereThinItalic;
  src: url("../fonts/acephimereThinItalic.otf");
}
