/* line 1, ../sass/index.scss */
body {
  background: black;
}
/* line 3, ../sass/index.scss */
body div {
  text-align: center;
  color: white;
  background-color: #7f0000;
  border-radius: 10px;
  padding: 10px;
  margin: 110px auto 95px auto;
  height: auto;
  width: 90%;
}
/* line 5, ../sass/index.scss */
body div div {
  margin: 10px auto;
  padding: 0px;
  text-align: center;
  border-radius: 0px;
}
/* line 7, ../sass/index.scss */
body div div #maps {
  width: 250px;
  display: none;
  vertical-align: middle;
}
/* line 19, ../sass/index.scss */
body div div #listResults {
  display: none;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  overflow-y: scroll;
  flex-direction: column;
  padding: 0px;
  height: 400px;
  width: 250px;
  vertical-align: middle;
}
/* line 21, ../sass/index.scss */
body div div #listResults .result {
  border-radius: 0px;
  color: red;
  background: white;
  margin: 3px;
  display: inline-block;
  width: 220px;
  height: auto;
}
/* line 23, ../sass/index.scss */
body div div #listResults .result #text {
  color: black;
  background: white;
  font-family: acephimere;
  text-align: justify;
  margin: 6px;
  height: auto;
  width: 200px;
}
/* line 25, ../sass/index.scss */
body div div #listResults .result #text #pf1 {
  color: darkred;
  font-size: 17px;
}
/* line 31, ../sass/index.scss */
body div div #listResults .result #text #pf2 {
  font-size: 12px;
}
/* line 36, ../sass/index.scss */
body div div #listResults .result #text #pf3 {
  font-size: 10px;
}
/* line 41, ../sass/index.scss */
body div div #listResults .result #text #pf4 {
  font-size: 10px;
}
/* line 46, ../sass/index.scss */
body div div #listResults .result #text p {
  margin: 2px;
}
/* line 60, ../sass/index.scss */
body div div #listResults .result .avatar {
  margin: 10px;
  border-radius: 0px;
  height: 70px;
  width: 70px;
}
/* line 68, ../sass/index.scss */
body div div #listResults .result div {
  display: inline-block;
}
/* line 100, ../sass/index.scss */
body div #categories {
  text-align: center;
  margin: 10px auto 10px auto;
}
/* line 102, ../sass/index.scss */
body div #categories #c9:hover {
  background: url("../img/menu/9R.png");
}
/* line 107, ../sass/index.scss */
body div #categories #c9 {
  background: url("../img/menu/9N.png");
}
/* line 112, ../sass/index.scss */
body div #categories #c8:hover {
  background: url("../img/menu/8R.png");
}
/* line 117, ../sass/index.scss */
body div #categories #c8 {
  background: url("../img/menu/8N.png");
}
/* line 122, ../sass/index.scss */
body div #categories #c7:hover {
  background: url("../img/menu/1R.png");
}
/* line 127, ../sass/index.scss */
body div #categories #c7 {
  background: url("../img/menu/1N.png");
}
/* line 132, ../sass/index.scss */
body div #categories #c6:hover {
  background: url("../img/menu/1R.png");
}
/* line 137, ../sass/index.scss */
body div #categories #c6 {
  background: url("../img/menu/1N.png");
}
/* line 142, ../sass/index.scss */
body div #categories #c5:hover {
  background: url("../img/menu/1R.png");
}
/* line 147, ../sass/index.scss */
body div #categories #c5 {
  background: url("../img/menu/1N.png");
}
/* line 152, ../sass/index.scss */
body div #categories #c4:hover {
  background: url("../img/menu/1R.png");
}
/* line 157, ../sass/index.scss */
body div #categories #c4 {
  background: url("../img/menu/1N.png");
}
/* line 162, ../sass/index.scss */
body div #categories #c3:hover {
  background: url("../img/menu/3R.png");
}
/* line 167, ../sass/index.scss */
body div #categories #c3 {
  background: url("../img/menu/3N.png");
}
/* line 172, ../sass/index.scss */
body div #categories #c2:hover {
  background: url("../img/menu/2R.png");
}
/* line 177, ../sass/index.scss */
body div #categories #c2 {
  background: url("../img/menu/2N.png");
}
/* line 182, ../sass/index.scss */
body div #categories #c1:hover {
  background: url("../img/menu/1R.png");
}
/* line 187, ../sass/index.scss */
body div #categories #c1 {
  background: url("../img/menu/1N.png");
}
/* line 192, ../sass/index.scss */
body div #categories .category:hover {
  border: 2px solid darkgray;
}
/* line 197, ../sass/index.scss */
body div #categories .category {
  border: 2px solid transparent;
  transition: 0.25s;
  border-radius: 0px;
  height: 45px;
  width: 45px;
  display: inline-block;
  margin: 4px;
  color: white;
}
/* line 213, ../sass/index.scss */
body div #bannerState {
  display: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: acephimere;
  padding: 10px;
  width: 200px;
  height: 15px;
}
/* line 224, ../sass/index.scss */
body div #search:hover {
  filter: invert(100%);
}
/* line 229, ../sass/index.scss */
body div #search {
  vertical-align: middle;
  transition: 0.15s;
  background: url("../img/lupa.png");
  outline: 0px;
  border: 0px;
  height: 50px;
  width: 50px;
}
/* line 240, ../sass/index.scss */
body div #searchBox:focus {
  height: 20px;
  border: 2px solid red;
}
/* line 246, ../sass/index.scss */
body div #searchBox {
  vertical-align: middle;
  transition: 0.15s;
  outline: 0px;
  border: 2px solid black;
  color: red;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
  height: 10px;
  width: 70%;
}
/* line 260, ../sass/index.scss */
body div #categorySearch {
  font-size: 14px;
  font-family: acephimere;
}
/* line 266, ../sass/index.scss */
body div #searchTag {
  font-size: 40px;
  font-family: acephimereThinItalic;
}
/* line 272, ../sass/index.scss */
body div p {
  margin: auto;
}
/* line 287, ../sass/index.scss */
body header {
  background-color: darkgray;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
}
/* line 289, ../sass/index.scss */
body header #headerLogo {
  background: url("../img/logo.png");
  margin: 10px auto 10px auto;
  text-align: center;
  height: 60px;
  width: 130px;
}

@font-face {
  font-family: acephimere;
  src: url("../fonts/acephimere.otf");
}
@font-face {
  font-family: acephimereThinItalic;
  src: url("../fonts/acephimereThinItalic.otf");
}
@font-face {
  font-family: acephimereThin;
  src: url("../fonts/acephimereThin.otf");
}
