/* line 1, ../sass/index.scss */
body {
  background: black;
}
/* line 3, ../sass/index.scss */
body div {
  margin: 5px auto;
  text-align: center;
  text-align: center;
  color: white;
  background-color: #7f0000;
  border-radius: 10px;
  padding: 10px;
  margin: 220px auto 95px auto;
  height: auto;
  width: 90%;
}
/* line 6, ../sass/index.scss */
body div .costosYear {
  display: inline-block;
}
/* line 8, ../sass/index.scss */
body div .costosYear .costosEmpresa:hover {
  background-color: darkmagenta;
}
/* line 13, ../sass/index.scss */
body div .costosYear .costosEmpresa {
  cursor: pointer;
  transition: 0.2s;
  vertical-align: middle;
  margin: 3px;
  display: inline-block;
  width: 200px;
  height: 115px;
  background-color: blue;
}
/* line 15, ../sass/index.scss */
body div .costosYear .costosEmpresa .p3 {
  font-size: 12px;
}
/* line 20, ../sass/index.scss */
body div .costosYear .costosEmpresa .p2 {
  font-family: acephimereThin;
  font-size: 20px;
}
/* line 26, ../sass/index.scss */
body div .costosYear .costosEmpresa .p1 {
  font-size: 40px;
}
/* line 31, ../sass/index.scss */
body div .costosYear .costosEmpresa p {
  font-family: acephimere;
}
/* line 46, ../sass/index.scss */
body div .costosYear .p2 {
  font-size: 20px;
}
/* line 51, ../sass/index.scss */
body div .costosYear .p1 {
  font-size: 60px;
}
/* line 56, ../sass/index.scss */
body div .costosYear p {
  font-family: acephimereThinItalic;
}
/* line 67, ../sass/index.scss */
body div div {
  margin: 10px auto;
  padding: 0px;
  border-radius: 0px;
}
/* line 69, ../sass/index.scss */
body div div #maps {
  display: none;
  vertical-align: middle;
}
/* line 75, ../sass/index.scss */
body div div #listResults {
  display: none;
  margin: 20px auto;
  vertical-align: middle;
  overflow-y: scroll;
  flex-direction: row;
  padding: 0px;
  height: auto;
  width: 90%;
}
/* line 77, ../sass/index.scss */
body div div #listResults .result {
  border-radius: 0px;
  color: red;
  background: white;
  margin: 3px;
  display: flex;
  width: 300px;
  height: auto;
}
/* line 79, ../sass/index.scss */
body div div #listResults .result #text {
  color: black;
  background: white;
  font-family: acephimere;
  text-align: justify;
  margin: 6px;
  height: auto;
  width: 200px;
}
/* line 81, ../sass/index.scss */
body div div #listResults .result #text #pf1 {
  color: darkred;
  font-size: 17px;
}
/* line 87, ../sass/index.scss */
body div div #listResults .result #text #pf2 {
  font-size: 12px;
}
/* line 92, ../sass/index.scss */
body div div #listResults .result #text #pf3 {
  font-size: 10px;
}
/* line 97, ../sass/index.scss */
body div div #listResults .result #text #pf4 {
  font-size: 10px;
}
/* line 102, ../sass/index.scss */
body div div #listResults .result #text p {
  margin: 2px;
}
/* line 116, ../sass/index.scss */
body div div #listResults .result .avatar {
  margin: 10px;
  border-radius: 0px;
  height: 70px;
  width: 70px;
}
/* line 124, ../sass/index.scss */
body div div #listResults .result div {
  display: inline-block;
}
/* line 154, ../sass/index.scss */
body div #categories {
  text-align: center;
  margin: 10px auto 10px auto;
}
/* line 156, ../sass/index.scss */
body div #categories #c9:hover {
  background: url("../img/menu/9R.png");
}
/* line 161, ../sass/index.scss */
body div #categories #c9 {
  background: url("../img/menu/9N.png");
}
/* line 166, ../sass/index.scss */
body div #categories #c8:hover {
  background: url("../img/menu/8R.png");
}
/* line 171, ../sass/index.scss */
body div #categories #c8 {
  background: url("../img/menu/8N.png");
}
/* line 176, ../sass/index.scss */
body div #categories #c7:hover {
  background: url("../img/menu/7R.png");
}
/* line 181, ../sass/index.scss */
body div #categories #c7 {
  background: url("../img/menu/7N.png");
}
/* line 186, ../sass/index.scss */
body div #categories #c6:hover {
  background: url("../img/menu/6R.png");
}
/* line 191, ../sass/index.scss */
body div #categories #c6 {
  background: url("../img/menu/6N.png");
}
/* line 196, ../sass/index.scss */
body div #categories #c5:hover {
  background: url("../img/menu/5R.png");
}
/* line 201, ../sass/index.scss */
body div #categories #c5 {
  background: url("../img/menu/5N.png");
}
/* line 206, ../sass/index.scss */
body div #categories #c4:hover {
  background: url("../img/menu/4R.png");
}
/* line 211, ../sass/index.scss */
body div #categories #c4 {
  background: url("../img/menu/4N.png");
}
/* line 216, ../sass/index.scss */
body div #categories #c3:hover {
  background: url("../img/menu/3R.png");
}
/* line 221, ../sass/index.scss */
body div #categories #c3 {
  background: url("../img/menu/3N.png");
}
/* line 226, ../sass/index.scss */
body div #categories #c2:hover {
  background: url("../img/menu/2R.png");
}
/* line 231, ../sass/index.scss */
body div #categories #c2 {
  background: url("../img/menu/2N.png");
}
/* line 236, ../sass/index.scss */
body div #categories #c1:hover {
  background: url("../img/menu/1R.png");
}
/* line 241, ../sass/index.scss */
body div #categories #c1 {
  background: url("../img/menu/1N.png");
}
/* line 246, ../sass/index.scss */
body div #categories .category {
  transition: 0.25s;
  border-radius: 0px;
  height: 90px;
  width: 90px;
  display: inline-block;
  margin: 4px;
  color: white;
}
/* line 261, ../sass/index.scss */
body div #bannerState {
  display: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: acephimere;
  padding: 10px;
  width: 200px;
  height: 15px;
}
/* line 272, ../sass/index.scss */
body div #search:hover {
  filter: invert(100%);
}
/* line 277, ../sass/index.scss */
body div #search {
  vertical-align: middle;
  transition: 0.15s;
  background: url("../img/lupa.png");
  outline: 0px;
  border: 0px;
  height: 50px;
  width: 50px;
}
/* line 288, ../sass/index.scss */
body div #searchBox:focus {
  height: 20px;
  border: 2px solid red;
}
/* line 294, ../sass/index.scss */
body div #searchBox {
  vertical-align: middle;
  transition: 0.15s;
  outline: 0px;
  border: 2px solid black;
  color: red;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
  height: 10px;
  width: 70%;
}
/* line 308, ../sass/index.scss */
body div div {
  margin: 40px auto 6px auto;
}
/* line 310, ../sass/index.scss */
body div div div {
  margin: 10px auto;
}
/* line 312, ../sass/index.scss */
body div div div .register:hover {
  border: 2px solid orangered;
  background-color: white;
  color: orangered;
}
/* line 319, ../sass/index.scss */
body div div div .register {
  background-color: orangered;
}
/* line 324, ../sass/index.scss */
body div div div #send:hover {
  border: 2px solid darkgreen;
  background-color: white;
  color: darkgreen;
}
/* line 331, ../sass/index.scss */
body div div div #send {
  background-color: darkgreen;
}
/* line 336, ../sass/index.scss */
body div div div #preview {
  overflow: hidden;
  height: 70px;
  width: 70px;
}
/* line 343, ../sass/index.scss */
body div div div #fileBrowser {
  outline: 0px;
  color: white;
  border: 2px solid brown;
  font-size: 12px;
  font-family: acephimere;
  margin: 5px auto;
  height: 20px;
  width: 70%;
}
/* line 355, ../sass/index.scss */
body div div div button {
  outline: 0px;
  transition: 0.2s;
  border: 2px solid transparent;
  color: white;
  font-size: 12px;
  font-family: acephimere;
  margin: 5px;
  height: 40px;
}
/* line 370, ../sass/index.scss */
body div div input:focus {
  height: 20px;
  border: 2px solid orangered;
}
/* line 376, ../sass/index.scss */
body div div input {
  transition: 0.15s;
  outline: 0px;
  border: 2px solid black;
  color: orangered;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
  height: 10px;
  width: 35%;
  margin: 5px;
}
/* line 390, ../sass/index.scss */
body div div p {
  font-size: 13px;
  font-family: acephimere;
  margin: 6px;
}
/* line 400, ../sass/index.scss */
body div #categorySearch {
  font-size: 14px;
  font-family: acephimere;
}
/* line 406, ../sass/index.scss */
body div #searchTag {
  font-size: 40px;
  font-family: acephimereThinItalic;
}
/* line 412, ../sass/index.scss */
body div p {
  margin: auto;
}
/* line 427, ../sass/index.scss */
body header {
  background-color: darkgray;
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
}
/* line 429, ../sass/index.scss */
body header div {
  margin: 5px auto;
  background: gray;
}
/* line 431, ../sass/index.scss */
body header div #close:hover {
  color: black;
  background: white;
}
/* line 437, ../sass/index.scss */
body header div #close {
  transition: 0.2s;
  outline: 0px;
  border: 0px;
  color: white;
  background: black;
  font-size: 10px;
  font-family: acephimere;
  margin: 7px;
  padding: 10px;
}
/* line 450, ../sass/index.scss */
body header div #infoUsername {
  font-size: 12px;
}
/* line 455, ../sass/index.scss */
body header div #infoName {
  font-size: 16px;
}
/* line 460, ../sass/index.scss */
body header div p {
  display: flex;
  font-family: acephimere;
}
/* line 470, ../sass/index.scss */
body header #headerLogo {
  background: url("../img/logo.png");
  margin: 10px auto 10px auto;
  text-align: center;
  height: 60px;
  width: 130px;
}

@font-face {
  font-family: acephimere;
  src: url("../fonts/acephimere.otf");
}
@font-face {
  font-family: acephimereThin;
  src: url("../fonts/acephimereThin.otf");
}
@font-face {
  font-family: acephimereThinItalic;
  src: url("../fonts/acephimereThinItalic.otf");
}
