/* line 1, ../sass/index.scss */
body {
  background: black;
}
/* line 3, ../sass/index.scss */
body div {
  margin: 5px auto;
  text-align: center;
  text-align: center;
  color: white;
  background-color: #7f0000;
  border-radius: 10px;
  padding: 10px;
  margin: 220px auto 95px auto;
  height: auto;
  width: 90%;
}
/* line 6, ../sass/index.scss */
body div .costosYear {
  display: inline-block;
}
/* line 8, ../sass/index.scss */
body div .costosYear .costosEmpresa:hover {
  background-color: darkmagenta;
}
/* line 13, ../sass/index.scss */
body div .costosYear .costosEmpresa {
  cursor: pointer;
  transition: 0.2s;
  vertical-align: middle;
  margin: 3px;
  display: inline-block;
  width: 200px;
  height: 115px;
  background-color: blue;
}
/* line 15, ../sass/index.scss */
body div .costosYear .costosEmpresa .p3 {
  font-size: 12px;
}
/* line 20, ../sass/index.scss */
body div .costosYear .costosEmpresa .p2 {
  font-family: acephimereThin;
  font-size: 20px;
}
/* line 26, ../sass/index.scss */
body div .costosYear .costosEmpresa .p1 {
  font-size: 40px;
}
/* line 31, ../sass/index.scss */
body div .costosYear .costosEmpresa p {
  font-family: acephimere;
}
/* line 46, ../sass/index.scss */
body div .costosYear .p2 {
  font-size: 20px;
}
/* line 51, ../sass/index.scss */
body div .costosYear .p1 {
  font-size: 60px;
}
/* line 56, ../sass/index.scss */
body div .costosYear p {
  font-family: acephimereThinItalic;
}
/* line 67, ../sass/index.scss */
body div div {
  margin: 10px auto;
  padding: 0px;
  border-radius: 0px;
}
/* line 69, ../sass/index.scss */
body div div #maps {
  width: 90%;
  height: 300px;
  vertical-align: middle;
}
/* line 76, ../sass/index.scss */
body div div #listResults {
  display: none;
  margin: 20px auto;
  vertical-align: middle;
  overflow-y: scroll;
  flex-direction: row;
  padding: 3px;
  height: auto;
  width: 90%;
}
/* line 78, ../sass/index.scss */
body div div #listResults .result:hover {
  filter: invert(15%);
}
/* line 83, ../sass/index.scss */
body div div #listResults .result {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0px;
  color: red;
  background: white;
  margin: 1px;
  display: flex;
  width: 300px;
  height: auto;
}
/* line 85, ../sass/index.scss */
body div div #listResults .result .text {
  color: black;
  background: white;
  font-family: acephimere;
  text-align: justify;
  margin: 6px;
  height: auto;
  width: 200px;
}
/* line 87, ../sass/index.scss */
body div div #listResults .result .text .pf1 {
  color: darkred;
  font-size: 17px;
}
/* line 93, ../sass/index.scss */
body div div #listResults .result .text .pf2 {
  font-size: 12px;
}
/* line 98, ../sass/index.scss */
body div div #listResults .result .text .pf3 {
  font-size: 10px;
}
/* line 103, ../sass/index.scss */
body div div #listResults .result .text .pf4 {
  font-size: 10px;
}
/* line 108, ../sass/index.scss */
body div div #listResults .result .text .c {
  background-color: orangered;
  font-size: 12px;
}
/* line 114, ../sass/index.scss */
body div div #listResults .result .text p {
  margin: 2px;
}
/* line 128, ../sass/index.scss */
body div div #listResults .result .avatar {
  margin: 10px;
  border-radius: 0px;
  height: 70px;
  width: 70px;
}
/* line 136, ../sass/index.scss */
body div div #listResults .result div {
  display: block;
}
/* line 167, ../sass/index.scss */
body div .categories {
  text-align: center;
  margin: 10px auto 10px auto;
}
/* line 169, ../sass/index.scss */
body div .categories #c10 {
  background: url("../img/menu/10N.png");
}
/* line 174, ../sass/index.scss */
body div .categories #c9 {
  background: url("../img/menu/9N.png");
}
/* line 179, ../sass/index.scss */
body div .categories #c8 {
  background: url("../img/menu/8N.png");
}
/* line 184, ../sass/index.scss */
body div .categories #c7 {
  background: url("../img/menu/7N.png");
}
/* line 189, ../sass/index.scss */
body div .categories #c6 {
  background: url("../img/menu/6N.png");
}
/* line 194, ../sass/index.scss */
body div .categories #c5 {
  background: url("../img/menu/5N.png");
}
/* line 199, ../sass/index.scss */
body div .categories #c4 {
  background: url("../img/menu/4N.png");
}
/* line 204, ../sass/index.scss */
body div .categories #c3 {
  background: url("../img/menu/3N.png");
}
/* line 209, ../sass/index.scss */
body div .categories #c2 {
  background: url("../img/menu/2N.png");
}
/* line 214, ../sass/index.scss */
body div .categories #c1 {
  background: url("../img/menu/1N.png");
}
/* line 219, ../sass/index.scss */
body div .categories .category:hover {
  filter: invert(100%);
  /*
  transition: 0.25s;
  border-radius: 0px;
  height: 90px;
  width: 90px;
  display: inline-block;
  margin: 4px;
  color: white;
  */
}
/* line 233, ../sass/index.scss */
body div .categories .category {
  transition: 0.25s;
  border-radius: 0px;
  height: 90px;
  width: 90px;
  display: inline-block;
  margin: 4px;
  color: white;
}
/* line 248, ../sass/index.scss */
body div #bannerState {
  display: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: acephimere;
  padding: 10px;
  width: 200px;
  height: 15px;
}
/* line 259, ../sass/index.scss */
body div .search:hover {
  filter: invert(100%);
}
/* line 264, ../sass/index.scss */
body div .search {
  vertical-align: middle;
  transition: 0.15s;
  background: url("../img/lupa.png");
  outline: 0px;
  border: 0px;
  height: 50px;
  width: 50px;
}
/* line 275, ../sass/index.scss */
body div .searchBox:focus {
  height: 20px;
  border: 2px solid red;
}
/* line 281, ../sass/index.scss */
body div .searchBox {
  vertical-align: middle;
  transition: 0.15s;
  outline: 0px;
  border: 2px solid black;
  color: red;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
  height: 10px;
  width: 70%;
}
/* line 295, ../sass/index.scss */
body div div {
  margin: 40px auto 6px auto;
}
/* line 297, ../sass/index.scss */
body div div div {
  margin: 10px auto;
}
/* line 299, ../sass/index.scss */
body div div div .register:hover {
  border: 2px solid orangered;
  background-color: white;
  color: orangered;
}
/* line 306, ../sass/index.scss */
body div div div .register {
  background-color: orangered;
}
/* line 311, ../sass/index.scss */
body div div div #send:hover {
  border: 2px solid darkgreen;
  background-color: white;
  color: darkgreen;
}
/* line 318, ../sass/index.scss */
body div div div #send {
  background-color: darkgreen;
}
/* line 323, ../sass/index.scss */
body div div div #preview {
  overflow: hidden;
  height: 70px;
  width: 70px;
}
/* line 330, ../sass/index.scss */
body div div div .fileBrowser {
  outline: 0px;
  color: white;
  border: 2px solid brown;
  font-size: 12px;
  font-family: acephimere;
  margin: 5px auto;
  height: 20px;
  width: 70%;
}
/* line 342, ../sass/index.scss */
body div div div button {
  outline: 0px;
  transition: 0.2s;
  border: 2px solid transparent;
  color: white;
  font-size: 12px;
  font-family: acephimere;
  margin: 5px;
  height: 40px;
}
/* line 357, ../sass/index.scss */
body div div input:focus {
  height: 20px;
  border: 2px solid orangered;
}
/* line 363, ../sass/index.scss */
body div div input {
  transition: 0.15s;
  outline: 0px;
  border: 2px solid black;
  color: orangered;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
  height: 10px;
  width: 35%;
  margin: 5px;
}
/* line 377, ../sass/index.scss */
body div div p {
  font-size: 13px;
  font-family: acephimere;
  margin: 6px;
}
/* line 387, ../sass/index.scss */
body div .categorySearch {
  font-size: 14px;
  font-family: acephimere;
}
/* line 393, ../sass/index.scss */
body div .searchTag {
  font-size: 40px;
  font-family: acephimereThinItalic;
}
/* line 399, ../sass/index.scss */
body div p {
  margin: auto;
}
/* line 414, ../sass/index.scss */
body header {
  background-color: darkgray;
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
}
/* line 416, ../sass/index.scss */
body header div {
  margin: 5px auto;
  background: gray;
}
/* line 418, ../sass/index.scss */
body header div .close:hover {
  color: black;
  background: white;
}
/* line 424, ../sass/index.scss */
body header div .close {
  transition: 0.2s;
  outline: 0px;
  border: 0px;
  color: white;
  background: black;
  font-size: 10px;
  font-family: acephimere;
  margin: 7px;
  padding: 10px;
}
/* line 437, ../sass/index.scss */
body header div #infoUsername {
  font-size: 12px;
}
/* line 442, ../sass/index.scss */
body header div #infoName {
  font-size: 16px;
}
/* line 447, ../sass/index.scss */
body header div p {
  display: flex;
  font-family: acephimere;
}
/* line 457, ../sass/index.scss */
body header .headerLogo {
  background: url("../img/logo.png");
  margin: 10px auto 10px auto;
  text-align: center;
  height: 60px;
  width: 130px;
}

@font-face {
  font-family: acephimere;
  src: url("../fonts/acephimere.otf");
}
@font-face {
  font-family: acephimereThin;
  src: url("../fonts/acephimereThin.otf");
}
@font-face {
  font-family: acephimereThinItalic;
  src: url("../fonts/acephimereThinItalic.otf");
}
