body
{
    div
    {

        .costosYear
        {
            .costosEmpresa:hover
            {
                background-color: darkmagenta;
            }

            .costosEmpresa
            {
                .p3
                {
                    font-size: 12px;
                }

                .p2
                {
                    font-family: acephimereThin;
                    font-size: 20px;
                }

                .p1
                {
                    font-size: 40px;
                }

                p
                {
                    font-family: acephimere;
                }

                cursor: pointer;
                transition: 0.2s;
                vertical-align: middle;
                margin: 3px;
                display: inline-block;
                width: 200px;
                height: 115px;
                background-color: blue;
            }

            .p2
            {
                font-size: 20px;
            }

            .p1
            {
                font-size: 60px;
            }

            p
            {
                font-family: acephimereThinItalic;
            }

            display: inline-block;
        }

        margin: 5px auto;
        text-align: center;
       
        div
        {
            #maps
            {
                width: 90%;
                height: 300px;
                vertical-align: middle;
            }

            #listResults
            {
                .result:hover
                {
                    filter: invert(15%);
                }

                .result
                {
                    .text
                    {
                        .pf1
                        {
                            color: darkred;
                            font-size: 17px;
                        }
    
                        .pf2
                        {
                            font-size: 12px;
                        }
    
                        .pf3
                        {
                            font-size: 10px;
                        }
    
                        .pf4
                        {
                            font-size: 10px;
                        }

                        .c
                        {
                            background-color: orangered;
                            font-size: 12px;
                        }
    
                        p
                        {
                            margin: 2px;
                        }
    
                        color: black;
                        background: white;
                        font-family: acephimere;
                        text-align: justify;
                        margin: 6px;
                        height: auto;
                        width: 200px;
                    }
    
                    .avatar
                    {
                        margin: 10px;
                        border-radius: 0px;
                        height: 70px;
                        width: 70px;
                    }
    
                    div
                    {
                        display: block;
                    }
    
                    cursor: pointer;
                    transition: 0.2s;
                    border-radius: 0px;
                    color: red;
                    background: white;
                    margin: 1px;
                    display: flex;
                    width: 300px;
                    height: auto;
                }

                display: none;
                margin: 20px auto;
                vertical-align: middle;
                overflow-y: scroll;
                flex-direction: row;
                padding: 3px;
                height: auto;
                width: 90%;
            }

            margin: 10px auto;
            padding: 0px;
            border-radius: 0px;
        }
    
        .categories
        {
            #c10
            {
                background: url('../img/menu/10N.png');
            }

            #c9
            {
                background: url('../img/menu/9N.png');
            }

            #c8
            {
                background: url('../img/menu/8N.png');
            }

            #c7
            {
                background: url('../img/menu/7N.png');
            }

            #c6
            {
                background: url('../img/menu/6N.png');
            }

            #c5
            {
                background: url('../img/menu/5N.png');
            }

            #c4
            {
                background: url('../img/menu/4N.png');
            }

            #c3
            {
                background: url('../img/menu/3N.png');
            }

            #c2
            {
                background: url('../img/menu/2N.png');
            }

            #c1
            {
                background: url('../img/menu/1N.png');
            }

            .category:hover
            {
                filter: invert(100%);
            }

            .category
            {
                transition: 0.25s;
                border-radius: 0px;
                height: 90px;
                width: 90px;
                display: inline-block;
                margin: 4px;
                color: white;
            }

            text-align: center;
            margin: 10px auto 10px auto;
        }

        #bannerState
        {
            display: none;
            border-radius: 5px;
            font-size: 12px;
            font-family: acephimere;
            padding: 10px;
            width: 200px;
            height: 15px;
        }

        .search:hover
        {
            filter: invert(100%);
        }

        .search
        {
            vertical-align: middle;
            transition: 0.15s;
            background: url('../img/lupa.png');
            outline: 0px;
            border: 0px;
            height: 50px;
            width: 50px;
        }

        .searchBox:focus
        {
            height: 20px;
            border: 2px solid red;
        }

        .searchBox
        {
            vertical-align: middle;
            transition: 0.15s;
            outline: 0px;
            border: 2px solid black;
            color: red;
            font-family: arial;
            font-size: 14px;
            padding: 10px;
            height: 10px;
            width: 70%;
        }

        div
        {
            div
            {
                .register:hover
                {
                    border: 2px solid orangered;
                    background-color: white;
                    color: orangered;
                }

                .register
                {
                    background-color: orangered;
                }

                #send:hover
                {
                    border: 2px solid darkgreen;
                    background-color: white;
                    color: darkgreen;
                }

                #send
                {
                    background-color: darkgreen;
                }

                #preview
                {
                    overflow: hidden;
                    height: 70px;
                    width: 70px;
                }

                .fileBrowser
                {
                    outline: 0px;
                    color: white;
                    border: 2px solid brown;
                    font-size: 12px;
                    font-family: acephimere;
                    margin: 5px auto;
                    height: 20px;
                    width: 70%;
                }

                button
                {
                    outline: 0px;
                    transition: 0.2s;
                    border: 2px solid transparent;
                    color: white;
                    font-size: 12px;
                    font-family: acephimere;
                    margin: 5px;
                    height: 40px;
                }

                margin: 10px auto;
            }

            input:focus
            {
                height: 20px;
                border: 2px solid orangered;
            }

            input
            {
                transition: 0.15s;
                outline: 0px;
                border: 2px solid black;
                color: orangered;
                font-family: arial;
                font-size: 14px;
                padding: 10px;
                height: 10px;
                width: 35%;
                margin: 5px;
            }
        
            p
            {
                font-size: 13px;
                font-family: acephimere;
                margin: 6px;
            }
        
            margin: 40px auto 6px auto;
        }
        
        .categorySearch
        {
            font-size: 14px;
            font-family: acephimere;
        }

        .searchTag
        {
            font-size: 40px;
            font-family: acephimereThinItalic;
        }

        p
        {
            margin: auto;
        }

        text-align: center; 
        color: white;
        background-color: rgb(127,0,0);
        border-radius: 10px;
        padding: 10px;
        margin: 220px auto 95px auto;
        height: auto;
        width: 90%;
    }
    
    header
    {
        div
        {
            .close:hover
            {
                color: black;
                background: white;
            }

            .close
            {
                transition: 0.2s;
                outline: 0px;
                border: 0px;
                color: white;
                background: black;
                font-size: 10px;
                font-family: acephimere;
                margin: 7px;
                padding: 10px;
            }

            #infoUsername
            {
                font-size: 12px;
            }

            #infoName
            {
                font-size: 16px;
            }

            p
            {
                display: flex;
                font-family: acephimere;
            }

            margin: 5px auto;
            background: gray;
        }

        .headerLogo
        {

            background: url('../img/logo.png');
            margin: 10px auto 10px auto;
            text-align: center;
            height: 60px;
            width: 130px; 
        }

        background-color: darkgray;
        height: auto;
        width: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
    }

    background: black;
}

@font-face
{
    font-family: acephimere;
    src: url('../fonts/acephimere.otf');
}

@font-face
{
    font-family: acephimereThin;
    src: url('../fonts/acephimereThin.otf');
}

@font-face
{
    font-family: acephimereThinItalic;
    src: url('../fonts/acephimereThinItalic.otf');
}