body
{
    div
    {
        div
        {
            #maps
            {
                display: none;
                vertical-align: middle;
            }

            #listResults
            {
                .result
                {
                    #text
                    {
                        #pf1
                        {
                            color: darkred;
                            font-size: 17px;
                        }
    
                        #pf2
                        {
                            font-size: 12px;
                        }
    
                        #pf3
                        {
                            font-size: 10px;
                        }
    
                        #pf4
                        {
                            font-size: 10px;
                        }
    
                        p
                        {
                            margin: 2px;
                        }
    
                        color: black;
                        background: white;
                        font-family: acephimere;
                        text-align: justify;
                        margin: 6px;
                        height: auto;
                        width: 200px;
                    }
    
                    .avatar
                    {
                        margin: 10px;
                        border-radius: 0px;
                        height: 70px;
                        width: 70px;
                    }
    
                    div
                    {
                        display: inline-block;
                    }
    
                    border-radius: 0px;
                    color: red;
                    background: white;
                    margin: 3px;
                    display: flex;
                    width: 300px;
                    height: auto;
                }
    
                display: none;
                margin: 20px auto;
                vertical-align: middle;
                overflow-y: scroll;
                flex-direction: row;
                padding: 0px;
                height: auto;
                width: 90%;

            }

            margin: 10px auto;
            padding: 0px;
            border-radius: 0px;
        }
    
        #categories
        {
            #c9:hover
            {
                background: url('../img/menu/9R.png');
            }

            #c9
            {
                background: url('../img/menu/9N.png');
            }

            #c8:hover
            {
                background: url('../img/menu/8R.png');
            }

            #c8
            {
                background: url('../img/menu/8N.png');
            }

            #c7:hover
            {
                background: url('../img/menu/7R.png');
            }

            #c7
            {
                background: url('../img/menu/7N.png');
            }

            #c6:hover
            {
                background: url('../img/menu/4R.png');
            }

            #c6
            {
                background: url('../img/menu/4N.png');
            }

            #c5:hover
            {
                background: url('../img/menu/4R.png');
            }

            #c5
            {
                background: url('../img/menu/4N.png');
            }

            #c4:hover
            {
                background: url('../img/menu/4R.png');
            }

            #c4
            {
                background: url('../img/menu/4N.png');
            }

            #c3:hover
            {
                background: url('../img/menu/3R.png');
            }

            #c3
            {
                background: url('../img/menu/3N.png');
            }

            #c2:hover
            {
                background: url('../img/menu/2R.png');
            }

            #c2
            {
                background: url('../img/menu/2N.png');
            }

            #c1:hover
            {
                background: url('../img/menu/1R.png');
            }

            #c1
            {
                background: url('../img/menu/1N.png');
            }

            .category:hover
            {
                border: 2px solid black;
            }

            .category
            {
                border: 2px solid transparent;
                transition: 0.25s;
                border-radius: 0px;
                height: 45px;
                width: 45px;
                display: inline-block;
                margin: 4px;
                color: white;
            }

            text-align: center;
            margin: 10px auto 10px auto;
        }

        #bannerState
        {
            display: none;
            border-radius: 5px;
            font-size: 12px;
            font-family: acephimere;
            padding: 10px;
            width: 200px;
            height: 15px;
        }

        #search:hover
        {
            filter: invert(100%);
        }

        #search
        {
            vertical-align: middle;
            transition: 0.15s;
            background: url('../img/lupa.png');
            outline: 0px;
            border: 0px;
            height: 50px;
            width: 50px;
        }

        #searchBox:focus
        {
            height: 20px;
            border: 2px solid red;
        }

        #searchBox
        {
            vertical-align: middle;
            transition: 0.15s;
            outline: 0px;
            border: 2px solid black;
            color: red;
            font-family: arial;
            font-size: 14px;
            padding: 10px;
            height: 10px;
            width: 70%;
        }

        div
        {
            div
            {
                #register:hover
                {
                    border: 2px solid orangered;
                    background-color: white;
                    color: orangered;
                }

                #register
                {
                    background-color: orangered;
                }

                #send:hover
                {
                    border: 2px solid darkgreen;
                    background-color: white;
                    color: darkgreen;
                }

                #send
                {
                    background-color: darkgreen;
                }

                button
                {
                    outline: 0px;
                    transition: 0.2s;
                    border: 2px solid transparent;
                    color: white;
                    font-size: 12px;
                    font-family: acephimere;
                    margin: 5px;
                    height: 40px;
                }

                margin: 10px auto;
            }

            input:focus
            {
                height: 20px;
                border: 2px solid orangered;
            }

            input
            {
                transition: 0.15s;
                outline: 0px;
                border: 2px solid black;
                color: orangered;
                font-family: arial;
                font-size: 14px;
                padding: 10px;
                height: 10px;
                width: 35%;
                margin: 5px;
            }

            p
            {
                font-size: 13px;
                font-family: acephimere;
                margin: 6px;
            }
        
            margin: 40px auto 6px auto;
        }
        
        #categorySearch
        {
            font-size: 14px;
            font-family: acephimere;
        }

        #searchTag
        {
            font-size: 40px;
            font-family: acephimereThinItalic;
        }

        p
        {
            margin: auto;
        }

        text-align: center; 
        color: white;
        background-color: rgb(127,0,0);
        border-radius: 10px;
        padding: 10px;
        margin: 110px auto 95px auto;
        height: auto;
        width: 90%;
    }
    
    header
    {
        #headerLogo
        {

            background: url('../img/logo.png');
            margin: 10px auto 10px auto;
            text-align: center;
            height: 60px;
            width: 130px; 
        }

        background-color: darkgray;
        height: 100px;
        width: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
    }

    background: black;
}

@font-face
{
    font-family: acephimere;
    src: url('../fonts/acephimere.otf');
}

@font-face
{
    font-family: acephimereThinItalic;
    src: url('../fonts/acephimereThinItalic.otf');
}